#explanation {
    background: url('../images/bg/explanation-bg.jpg') 50% 50% / cover no-repeat;
    background-attachment: fixed;
    padding: 110px 0;
}

.explanation-item {
    color: #fff;

    p {
        margin: 20px 0;
    }
}